<ion-view hide-nav-bar=true>

<ion-header-bar align-title="left" class="bar-positive">
    
    <div class="buttons">
        <button class="button" ng-click="doOne()">BONC一路有你</button>
        <button class="button" ng-click="doTwo()">大数据</button>
        <button class="button" ng-click="doSomething()">最新资讯</button>
    </div>
    
</ion-header-bar>

  <ion-content>

    <div id="main" style="height:330px;border:1px solid #ccc;padding:10px;"></div>

    <div id="main1" style="height:330px;border:1px solid #ccc;padding:10px;"></div>

    <div id="main2" style="height:400px;border:1px solid #ccc;padding:10px;"></div>

    <div id="main3" style="height:300px;border:1px solid #ccc;padding:10px;"></div>

    <div id="main4" style="height:400px;border:1px solid #ccc;padding:10px;"></div>
 
    <div id="main5" style="height:400px;border:1px solid #ccc;padding:10px;"></div>
 
    <div id="main6" style="height:360px;border:1px solid #ccc;padding:10px;"></div>
    
    <div id="main7" style="height:270px;border:1px solid #ccc;padding:10px;"></div>
 
    <div id="main8" style="height:300px;border:1px solid #ccc;padding:10px;"></div>
   
    <div id="main9" style="height:300px;border:1px solid #ccc;padding:10px;"></div>
    
    <div id="main10" style="height:300px;border:1px solid #ccc;padding:10px;"></div>
    
  </ion-content>
</ion-view>
