<ion-view hide-nav-bar=true>

<ion-header-bar align-title="left" class="bar-positive">
    
    <div class="buttons">
        <button class="button" ng-click="doOne()">BONC一路有你</button>
    </div>
    
</ion-header-bar>

  <ion-content>
  <div class="list">
      <div class="item item-text-wrap">

         <h2>湖北移动事业部武汉项目组开展“大数据分析”：移动家庭宽带数据分析展现<h2>
         <p>2016-07-04 BONC-HR BONC一路有你</p>
		 <div id="main" style="height:220px;border:0px solid #ccc;padding:0px;margin:0px"></div>
         <p>有线宽带到达用户数占总用户数多达99%,说明居民小区用户宽带使用的期望值最高。</p>
      </div>
      
      <div class="item item-text-wrap">
          <h2>通过时域堆积图，可以清楚的看到小区宽带到达用户数占宽带到达用户数中的贡献率最高<h2>
              <p>2016-07-04 BONC-HR BONC一路有你</p>
              <div id="main1" style="height:300px;border:0px solid #ccc;padding:0px;margin:0px"></div>
          <p>通过时域堆积图，还可以发现移动宽带到达用户数，是上扬趋势。</p>
      </div>

      <div class="item item-text-wrap">
          <h2>通过地域堆积图，可以清楚的看到小区宽带到达用户数占宽带到达用户数中的贡献率最高<h2>
              <p>2016-07-04 BONC-HR BONC一路有你</p>
              <div id="main2" style="height:300px;border:0px solid #ccc;padding:0px;margin:0px"></div>
          <p>通过地域堆积图，还可以发现移动宽带到达用户数，是上扬趋势。</p>
      </div>

  </div>
    

  </ion-content>
</ion-view>
