<ion-view hide-nav-bar=true>
    
 <ion-header-bar align-title="left" class="bar-positive">
 
 <div class="buttons">
     <button class="button" ng-click="doTwo()">家宽</button>
<!--     <button class="button" ng-click="doThree()">地图</button>-->
<!--     <button class="button" ng-click="doThour()">热力图</button>-->
<!--     <button class="button" ng-click="doFive()">圈子</button>-->
 </div>

 </ion-header-bar>
    
  <ion-content padding=false has-bouncing=false>
    
      <div class="list card">
          
      <div class="item item-body">
         <h2>移动大数据<h2>
         <p>MR.M手把手教你，如何运用大数据撩妹</p>
         <img class="full-image" src="https://coding.net/u/jackujmyhn9876/p/hbmobiletest/git/raw/master/image/0.jpg">
         <img class="full-image" src="https://coding.net/u/jackujmyhn9876/p/hbmobiletest/git/raw/master/image/1.jpg">
         <img class="full-image" src="https://coding.net/u/jackujmyhn9876/p/hbmobiletest/git/raw/master/image/2.jpg">
         <img class="full-image" src="https://coding.net/u/jackujmyhn9876/p/hbmobiletest/git/raw/master/image/3.jpg">
         <img class="full-image" src="https://coding.net/u/jackujmyhn9876/p/hbmobiletest/git/raw/master/image/4.jpg">
         <img class="full-image" src="https://coding.net/u/jackujmyhn9876/p/hbmobiletest/git/raw/master/image/5.jpg">
      </div>

      </div>

  </ion-content>
</ion-view>
